.modalComp {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalComp--open {
  display: flex;
}

.modalComp__inner {
  width: 400px;
  min-height: 200px;
  padding: 18px;
  background-color: #ffffff;
  border-radius: 12px;
}

.modal-body__date {
  font-size: 13px;
}

.text-muted {
  min-width: 75px;
  font-size: 13px;
}

.modalComp .form-control {
  padding: 0;
}

