.modalComp {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-out;
}

.modalComp--open {
  display: flex;
}

.modalComp__inner {
  width: 400px;
  min-height: 200px;
  margin-top: 20px;
  padding: 18px;
  background-color: #ffffff;
  border-radius: 8px;
}

.modal-body__date {
  font-size: 13px;
}

.text-muted {
  min-width: 75px;
  font-size: 13px;
}

.modalComp .form-control {
  padding: 0;
}

.input-data {
  border-bottom: 1px solid #6c757d !important;
}

.text-muted-input {
  min-height: 20px;
}

